<div style = "text-align: center">
    <h2>Press the Button to Grab a Question<br>Do your best to answer it as exactly as possible!</h2>
    <button id = "getStuff" (click)="getTheThing()">Retrieve a Question</button>
    <h3> Question: {{question.question}}</h3><br><br>
    <h2>Enter Your Answer Here!</h2>
    <input type="text" name="Answer" id="answerEntry"
    [(ngModel)]="answerField" (keydown.enter)="goodAnswer()"><p></p>
    <button (click)="givingUp()">Give Up?</button>
    <div *ngIf="this.answerField == null && this.giveUp == 0;else nothing">
        <p>
            Answer Already!
        </p>
    </div>
    <ng-template #nothing>
      <p>Nvm</p>
    </ng-template>
    <div *ngIf="this.answerField == this.question.newAnswer || this.giveUp == 1">
        <h2>Correct Answer: {{question.newAnswer}}</h2>

    </div>
</div>

